* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER*/

.header-cuotas {
    background-color: #f56c3a;
    font-size: 13px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #f5f1f1;
    padding: 4px 0;
}

/*BARRAS DE NAVEGACIÓN*/

.menu1 {
    justify-content: right;
    list-style: none;
}


.nav-link-primera-barra {
    color: #f56c3a;
    font-family: "time new roman" serif;
    justify-content: space-around;
    font-size: 13px;
    padding: 25px;
    text-decoration: none;
}


.menu2 {
    justify-content: center;
    padding: 15px;
}

.nav-link-segunda-barra {
    color: black;
    padding: 30px;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;

}

.nav-link-segunda-barra:hover {
    color: deeppink;
}

/*ESTILO PARA EL TITULO*/


.titulo {
    color: #070707;
    height: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-decoration: none;
}

.nombre {
    font-size: 30px;
}


/*MAIN INDEX*/

/*IMAGENES PRINCIPALES DE INDEX*/

.portadas {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-row: auto;

}

.portada {
    width: 500px;
    height: auto;
    background-color: white;
    padding-bottom: 20px;

}

.portada img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*DESTACADOS*/
.titulo-productos-destacados {
    background-color: #e5dcdc;
    text-align: center;
    font-size: 30px;
    font-family: 'Playfair Display', serif;

}

.productos-destacados {
    padding: 20px;
    gap: 30px;

}

.destacados {
    padding: 20px;
    gap: 20px;
}

/*GIFCARDS*/

.gifcard-principal {
    padding: 20px;
    gap: 30px;
}

.gifcard {
    padding: 20px;
    gap: 20px;
}



/* ESTILO DE BOLENTIN INFORMATIVO*/

.boletin-informativo {
    background-color: #dc33acf8;
    padding: 30px 50px 100px 10px;
    text-align: center;
}

.titulo-boletin {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 10px;

}

.texto-boletin {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 10px;
}

.texto-descuento-boletin {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}



/*MAIN DE TODOS LOS PRODUCTOS*/


.imagen {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin: 30px;
}

.destacados {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 40px;
}

.col-productos {
    text-align: center;
}

.nombre-producto {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.precio {
    font-size: 18px;
    color: #f56c3a;
}

.cuotas-sin-interes {
    font-size: 13px;
}

.btn-primary {
    color: white;
    background-color: #f56c3a;
    border: #f56c3a;
}

.btn-primary:hover {
    background-color: aqua;
}

/*MAIN NOSOTROS*/

.contenido-nosotros {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 20px 0px;
    border: none;

}

.col-nosotros {
    text-align: center;
    padding: 0px;
    border: none;
}

.texto-nosotros {
    font-size: 15px;
    padding: 5px;
}

.texto-nosotros2 {
    font-size: 15px;
    margin: 30px;
}

/*MAIN CONTACTO*/

.titulo-formulario {
    text-align: center;
    font-size: 20px;
    margin: 35px 0px 0px 0px;
    font-family: 'Playfair Display', serif;
}

.formulario {
    padding: 5px;
}

.form-control {
    resize: none;
}

.form-control:focus {
    background-color: #fb9570;
    box-shadow: 3px 4px 9px 0px rgba(245, 108, 58, 1);
    border: none;
}



.contactanos {
    text-align: center;
    margin: 20px;
    font-family: 'Playfair Display', serif;
}

/*FOOTER*/


.pie-pagina {
    width: 100%;
    background-color: #e5dcdc;


}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.box h2 {
    color: #070707;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-bottom: 25px;

}

.listado-comprar {
    list-style: none;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
}

.red-social a:hover {
    color: deeppink;
}

.grupo-2 {
    color: black;
    background-color: #e5dcdc;
    text-align: center;
}

/*MEDIAS QUERIES*/

@media screen and (max-width:800px) {
    .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

}