/*MAIN CONTACTO*/

.main-form {
    background-color: #dc33acf8;
    color: black;
    font-family: $font-principal;
    padding: 0 1.5em;
}

.formularios {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}


.clasificacion-formulario {
    box-shadow: 0 0 20px 0 white;
}

.clasificacion-formulario>* {
    padding: 1em;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block {
    grid-column: 1 / 3;

}

.contact-form form p {
    margin: 0;
    padding: 1em;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    resize: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid white;
    color: white;
}

.contact-form form button {
    background-color: #f56c3a;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 5px;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background-color: aqua;
    color: black;
    transition: background-color 1s ease-out;
    outline: 0;
}


.contact-info {
    background-color: #cd43a6f8;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: .3em;
}

/*largen screen contacto*/

@media (min-width:700px) {

    .main-form {
        padding: 0 4rem;
    }

    .clasificacion-formulario {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .clasificacion-formulario>* {
        padding: 2em;
    }

    .contact-form h4,
    .contact-form ul,
    .contact-form p {
        padding: 1em;
    }

}