/*MAIN NOSOTROS*/

.contenido-nosotros {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 20px 0px;
    border: none;

    .col-nosotros {
        text-align: center;
        padding: 0px;
        border: none;

        .texto-nosotros {
            font-size: 15px;
            padding: 15px;
        }

        .texto-nosotros2 {
            font-size: 15px;
            padding: 30px 20px 20px 20px;

        }

        img {
            border-radius: 5px;
        }
    }


}