//variables de colores
$bg-naranja: #f56c3a;
$color-naranja: #f56c3a;

//variables de fuentes

$font-principal: 'Playfair Display', serif;
$font-secundaria: 'Segoe UI', Tahoma, Verdana, sans-serif;

//variables de boton

$boton-naranja: (
    color:white,
    fondo:#f56c3a,
    borde:#f56c3a,
);